.kd
{
font-size:35px;
color:crimson;
font-family:"Felix Titling";
}

.kd2
{
font-size:60px;
color:crimson;
font-family:"Castellar";
}

.button{
border-radius:15px;
font-size:30px;
font-family:"Felix Titling";
color:crimson;
border-color:crimson;
}

.login{
border-radius:15px;
font-size:30px;
font-family:"Felix Titling";
color:crimson;
border-color:crimson;
margin-left:250px;
margin-top:50px;
}

.ok{
border-radius:50px;
}

.img{
border-radius:20px;
}

.rt{
float:left;
}

.ty{
float:right;
width:1500px;

}

.xy{
background-size:cover;
}